h1 {
  text-align: center;
}

.box_mitte {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

.mitte {
  text-align: center;
}

#angezeigte_beschreibung {
  margin-right: 25vw;
  margin-left: 25vw;
  background-color: WhiteSmoke;
  visibility: hidden;
}
